body{
    color: white
}

#main{
    text-align: center;
    font-family: Ubuntu, sans-serif;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: black;
}

h2{
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2.5px;
}

.general{
    display: grid;
    text-align: center;
    grid-gap: 30px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}

.general img{
    height: 300px;
}

.general div{
    border: solid 1px;
    border-radius: 40px;
    background: #2e2e2e;
    margin: 20px;
    padding: 20px;
}

.social{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.social img { 
    height: 28px;
    padding: 5px;
}

.social li{
    transition: 0.2s;
}

.social li:hover{
    transform: scale(1.2);
}

.desc{
    font-size: 1.4rem;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 8%;
}

@media (max-width: 1700px){
    .general {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px){
    .general {
        grid-template-columns: 1fr;
    }
}