section{
    text-align: center;
    font-family: Ubuntu, sans-serif;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
}

h2{
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2.5px;
}

.general{
    margin: 30px;
    display: grid;
    text-align: center;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.general img{
    height: 300px;
}

.social{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.social img { 
    height: 20px; 
    padding: 5px;
}